@keyframes filling-1 {
    from {width: 0%;}
    to {width: 40%;}
}
@keyframes filling-2 {
    from {width: 0%;}
    to {width: 90%;}
}
@keyframes filling-3 {
    from {width: 0%;}
    to {width: 80%;}
}
@keyframes filling-4 {
    from {width: 0%;}
    to {width: 60%;}
}