:root {
    --gray: #777;
    --white: #fff;
    --Roboto-Regular: 'Roboto-Regular', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: var(--Roboto-Regular);
}

.header-container {
    background-color: var(--white);
}

.main-container {
    background-color: var(--gray);
}